/* V1.0 */
body {
	color: #ffffff;
	background-color: black;
	font-family: monospace;
}

#terminal {
	margin-left: 10px;
}

#bannerUsed {
	color: #00ff00;
	font-family: monospace;
	font-size: 18px;
	margin-left: 100px;
}

.symbol {
	color: red;
	font-family: monospace;
	font-size: 18px;
	padding-left: 1px;
}

.userName {
	color: cyan;
	font-family: monospace;
	font-size: 18px;
}


.machineName {
	color: orange;
	font-family: monospace;
	font-size: 18px;
}
.directory {
	color: #1C4EE7;
	font-family: monospace;
	font-size: 18px;
}

#command {
	color: #00ff00;
	font-family: monospace;
	font-size: 18px;
	margin-left: 2px;
	width: 220px;
	background-color: black;
	border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.command_replace {
	color: #00ff00;
	font-family: monospace;
	font-size: 18px;
	margin-left: 2px;
}


.commandList {
	font-family: monospace;
	font-size: 16px;
	margin-left: 80px;
	color: #00ff00;

}

.wlan0Details {
	font-family: monospace;
	font-size: 16px;
	margin-left: 80px;
	color: #00ff00;
}

.redFont {
	color: red;
	font-family: monospace;
	font-size: 16px;
}

.whiteFont {
	color: white;
	font-family: monospace;
	font-size: 16px;
}

.greenFont {
	color: #00ff00;
	font-family: monospace;
	font-size: 16px;
}

.cyanFont {
	color: cyan;
	font-family: monospace;
	font-size: 16px;

}

.fFont {
	color: lightblue;
	font-family: monospace;
	font-size: 16px;
}